SITE_URL=https://zlflly2005.pages.dev
SITE_AUTHOR=zlflly2005
# Guestbook API - 使用代理后改为 https://guestbook.zlflly.asia/api/guestbook
NEXT_PUBLIC_GUESTBOOK_API_URL=https://guestbook.zlflly.asia/api/guestbook

NEXT_PUBLIC_LASTFM_API_KEY=your_lastfm_api_key
NEXT_PUBLIC_LASTFM_USERNAME=your_lastfm_username